/* 노말라이즈 */
 body,
 ul,
 li, h3, p {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 /* 노말라이즈 끝 */

 /* 라이브러리 */
 .border-red {
   border: 5px solid red;
 }

 .border-blue {
   border: 5px solid blue;
 }

 .border-black {
   border: 5px solid #000;
 }

 .border-green {
   border: 5px solid green;
 }

 .flex {
   display: flex;
 }

 .flex-jc-c {
   justify-content: center;
 }

 .flex-ai-c {
   align-items: center;
 }

 .flex-as-c {
   align-self: center;
 }

 .flex-grow-1 {
   flex-grow: 1;
 }

 .block {
   display: block;
 }

 .height-100p {
   height: 100%;
 }

 .con {
   margin-left: auto;
   margin-right: auto;
   width: 1080px;
 }

 .img-box>img {
  width: 100%;
  display: block;
}
.con-min-width {
  min-width: 1080px;
}

.ico {
  background-color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(./images/img_kabang_220615.png);
}

/* 라이브러리 끝 */

html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 중간 섹션 1~5 시작 */
/* 공통섹션 시작 */
.md-sec {
  min-height:  750px;
  display: flex;
}

.md-sec > div:first-child {
  width: 60%;
}

.md-sec > div:last-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}



.md-divider {
  height:  32px;
  /* background-color: #fafafa; */
  background-color: #f1f1f1;
}

.md-sec .text-box h3 {
  font-size: 40px;
  line-height: 1.3;
}

.md-sec .text-box p {
  font-size: 15px;
  margin-top: 24px;
  line-height: 1.7;
  color: #666;
}

.md-sec .text-box .btn-box {
  margin-top: 30px;
}

.md-sec .text-box .btn-box > a {
  display: block;
  width: 258px;
  height: 56px;
  font-size: 15px;
  line-height: 56px;
  border-radius: 10px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-sec .text-box .btn-box > a:hover {
  text-decoration: underline;
}

.md-sec .text-box .btn-box > a img {
  width: 6px;
  height: 9px;
  margin: 8px;

  vertical-align: top;
}

/* 공통섹션 끝*/

/* 섹션1 시작 */
.md-sec .img-box {
  width: 473px;
  
}
.md-sec_1 > div:first-child > * {
  margin-left: 40px;
}

.md-sec_1 > div:last-child > * {
  margin-left: -20px;
}

/* 섹션1 끝 */

/* 섹션2 시작 */
.md-sec_2 > div:first-child {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.md-sec_2 > div:last-child {
  margin-left:  -56px;
}

.md-sec_2 .text-box .text_img-box img {
  width: 440px;
  margin-top: 60px;
}


.md-sec_2 .img-box-2  {
  width: 409px;
}

.md-sec_2 .img-box-2 img {
  display: block;
  width: 100%;
  visibility: hidden;
  transform: translateX(20%);
  opacity: 0;
  transition: all, transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}


.md-sec_2 .img-box-2.active img {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}


/* .md-sec_2 .text-box .btn-wrap {
  display: flex;
} */


/* .md-sec_2 .text-box .btn-wrap .btn-box {
  margin-right: 6px;
} */

.md-sec_2 .text-box .btn-box {
  display: flex;
}

.md-sec_2 .text-box .btn-box > a {
  width: 158px;
}

.md-sec_2 .text-box .btn-box > a:first-child {
  margin-right: 6px;
}
/* 섹션2 끝 */

/* 섹션3 시작 */
.md-sec_3 .img-box {
  width: 473px;
}

.md-sec_3 > div:first-child {
  margin-left: 55px;
}

.md-sec_3 > div:last-child {
  margin-left: -75px;
}
/* 섹션3 끝 */

/* 섹션4 시작 */
.md-sec_4 > div:first-child {
  display: flex;
  align-items: center;
  margin-left: 128px;
}
.md-sec_4 > div:last-child {
  margin-right: 9px;
}
.md-sec_4 .img-box {
  width: 492px;
}
/* 섹션4끝 */

/* 섹션5시작 */
.md-sec_5 > div:first-child {
  margin-left: 78px;
}

.md-sec_5 > div:last-child {
  margin-left: -97px;
}

.md-sec_5 .img-box {
  width: 408px;
}

.md-sec_5 .img-box img {
  transform: translateY(20%);
  visibility: hidden;
  opacity: 0;
  transition: all, transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}


.md-sec_5 .img-box.active img {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.md-sec_5_wrap {
  height: 750px;
    background: #fff  url(../images/home_map.png) no-repeat -12% 50%
}

/* 섹션5끝 */
/* 중간 섹션 1~5 끝 */